In [9]:
# Dependencies
import pandas as pd
import numpy as np

In [10]:
# Save file path to variable
csvfile=("Resources/census_data_2016-2019.csv")

In [14]:
# Read with Pandas
census_df=pd.read_csv(csvfile)
census_df.head()

,Year,County,State,Population,Median Age,Household Income,Per Capita Income,Employed Civilians,Unemployed Civilians,People in the Military,Poverty Count
0,2016,Autauga County,Alabama,55049,37.8,53099.0,26168.0,24262.0,1437.0,309.0,6697.0
1,2016,Baldwin County,Alabama,199510,42.3,51365.0,28069.0,87753.0,5887.0,232.0,25551.0
2,2016,Barbour County,Alabama,26614,38.7,33956.0,17249.0,8993.0,1323.0,0.0,6235.0
3,2016,Bibb County,Alabama,22572,40.2,39776.0,18988.0,8354.0,643.0,5.0,3390.0
4,2016,Blount County,Alabama,57704,40.8,46212.0,21033.0,21593.0,1367.0,9.0,9441.0

In [17]:
# Create a DataFrame with columns to total: Year, County, State, Population, 
# Employed Civilians, Unemployed Civilians, People in the Military, Poverty Count
censusDF_df=census_df[["Year", "County", "State", "Population",  "Employed Civilians", "Unemployed Civilians", "People in the Military", "Poverty Count"]]
censusDF_df

,Year,County,State,Population,Employed Civilians,Unemployed Civilians,People in the Military,Poverty Count
0,2016,Autauga County,Alabama,55049,24262.0,1437.0,309.0,6697.0
1,2016,Baldwin County,Alabama,199510,87753.0,5887.0,232.0,25551.0
2,2016,Barbour County,Alabama,26614,8993.0,1323.0,0.0,6235.0
3,2016,Bibb County,Alabama,22572,8354.0,643.0,5.0,3390.0
4,2016,Blount County,Alabama,57704,21593.0,1367.0,9.0,9441.0
...,...,...,...,...,...,...,...,...
12875,2019,Vega Baja Municipio,Puerto Rico,52192,14915.0,3147.0,19.0,23486.0
12876,2019,Vieques Municipio,Puerto Rico,8642,2467.0,200.0,0.0,3947.0
12877,2019,Villalba Municipio,Puerto Rico,22403,6579.0,1841.0,22.0,10641.0
12878,2019,Yabucoa Municipio,Puerto Rico,33499,8611.0,2120.0,30.0,17766.0
12879,2019,Yauco Municipio,Puerto Rico,35428,8532.0,2163.0,0.0,17273.0

In [28]:
# Create a dataframe of the totals for each state by year.
censusgroup_df = census_df.groupby(["Year", "State"]).sum()
censusgroup_df.head

<bound method NDFrame.head of                     Population  Median Age  Household Income  \
Year State
2016 Alabama           4841164      2696.8         2601940.0
     Alaska             736855      1062.1         1879248.0
     Arizona           6728577       594.2          662498.0
     Arkansas          2968472      3085.5         2812779.0
     California       38654206      2278.3         3369292.0
...                        ...         ...               ...
2019 Virginia          8454463      5604.1         8080646.0
     Washington        7404107      1643.7         2316345.0
     West Virginia     1817305      2440.1         2469073.0
     Wisconsin         5790716      3143.3         4198022.0
     Wyoming            581024       930.2         1422059.0

                    Per Capita Income  Employed Civilians  \
Year State
2016 Alabama                1422594.0           2042025.0
     Alaska                  900511.0            353954.0
     Arizona                 326795.0           2879372.0
     Arkansas               1544375.0           1266552.0
     California             1683496.0          17577142.0
...                               ...                 ...
2019 Virginia               4156274.0           4156018.0
     Washington             1208464.0           3594279.0
     West Virginia          1358051.0            740910.0
     Wisconsin              2234474.0           2982359.0
     Wyoming                 739721.0            288503.0

                    Unemployed Civilians  People in the Military  \
Year State
2016 Alabama                    184479.0                 12150.0
     Alaska                      30139.0                 16382.0
     Arizona                    249972.0                 17373.0
     Arkansas                    93190.0                  4445.0
     California                1683726.0                130452.0
...                                  ...                     ...
2019 Virginia                   200850.0                120385.0
     Washington                 187330.0                 52871.0
     West Virginia               51910.0                  1306.0
     Wisconsin                  111564.0                  3190.0
     Wyoming                     13544.0                  2957.0

                    Poverty Count
Year State
2016 Alabama             868666.0
     Alaska               72826.0
     Arizona            1165636.0
     Arkansas            542431.0
     California         6004257.0
...                           ...
2019 Virginia            865691.0
     Washington          785244.0
     West Virginia       310044.0
     Wisconsin           639160.0
     Wyoming              62257.0

[208 rows x 8 columns]>

In [33]:
# Rename columns to make them more understandable
State_census_df=censusgroup_df.rename(columns={"Population": "Total Population",
                                               "Employed Civilians": "Total Employed Civilians",
                                               "Unemployed Civilians": "Total Unemployed Civilians",
                                               "People in the Military": "Total People in the Military",
                                               "Poverty Count": "Total Population in Poverty"})
State_census_df

                    Total Population  Median Age  Household Income  \
Year State
2016 Alabama                 4841164      2696.8         2601940.0
     Alaska                   736855      1062.1         1879248.0
     Arizona                 6728577       594.2          662498.0
     Arkansas                2968472      3085.5         2812779.0
     California             38654206      2278.3         3369292.0
...                              ...         ...               ...
2019 Virginia                8454463      5604.1         8080646.0
     Washington              7404107      1643.7         2316345.0
     West Virginia           1817305      2440.1         2469073.0
     Wisconsin               5790716      3143.3         4198022.0
     Wyoming                  581024       930.2         1422059.0

                    Per Capita Income  Total Employed Civilians  \
Year State
2016 Alabama                1422594.0                 2042025.0
     Alaska                  900511.0                  353954.0
     Arizona                 326795.0                 2879372.0
     Arkansas               1544375.0                 1266552.0
     California             1683496.0                17577142.0
...                               ...                       ...
2019 Virginia               4156274.0                 4156018.0
     Washington             1208464.0                 3594279.0
     West Virginia          1358051.0                  740910.0
     Wisconsin              2234474.0                 2982359.0
     Wyoming                 739721.0                  288503.0

                    Total Unemployed Civilians  Total People in the Military  \
Year State
2016 Alabama                          184479.0                       12150.0
     Alaska                            30139.0                       16382.0
     Arizona                          249972.0                       17373.0
     Arkansas                          93190.0                        4445.0
     California                      1683726.0                      130452.0
...                                        ...                           ...
2019 Virginia                         200850.0                      120385.0
     Washington                       187330.0                       52871.0
     West Virginia                     51910.0                        1306.0
     Wisconsin                        111564.0                        3190.0
     Wyoming                           13544.0                        2957.0

                    Total Population in Poverty
Year State
2016 Alabama                           868666.0
     Alaska                             72826.0
     Arizona                          1165636.0
     Arkansas                          542431.0
     California                       6004257.0
...                                         ...
2019 Virginia                          865691.0
     Washington                        785244.0
     West Virginia                     310044.0
     Wisconsin                         639160.0
     Wyoming                            62257.0

[208 rows x 8 columns]

In [40]:
# Create a DataFrame with columns to average: Year, County, State, Median Age, 
# Household Income, Per Capita Income
Average_census_df = census_df[["Year","County", "State", "Median Age","Household Income", "Per Capita Income"]]

Average_census_df

,Year,County,State,Median Age,Household Income,Per Capita Income
0,2016,Autauga County,Alabama,37.8,53099.0,26168.0
1,2016,Baldwin County,Alabama,42.3,51365.0,28069.0
2,2016,Barbour County,Alabama,38.7,33956.0,17249.0
3,2016,Bibb County,Alabama,40.2,39776.0,18988.0
4,2016,Blount County,Alabama,40.8,46212.0,21033.0
...,...,...,...,...,...,...
12875,2019,Vega Baja Municipio,Puerto Rico,41.5,19617.0,11116.0
12876,2019,Vieques Municipio,Puerto Rico,47.0,14936.0,10426.0
12877,2019,Villalba Municipio,Puerto Rico,40.1,19877.0,10894.0
12878,2019,Yabucoa Municipio,Puerto Rico,42.9,16295.0,9929.0
12879,2019,Yauco Municipio,Puerto Rico,43.9,14743.0,8404.0

In [51]:
# Create a dataframe of the averages for each state by year.
State_Average_census_df=Average_census_df.groupby(["Year","State"])
State_Average_df = State_Average_census_df.mean()
State_Average_df

                    Median Age  Household Income  Per Capita Income
Year State
2016 Alabama         40.250746      38834.925373       21232.746269
     Alaska          36.624138      64801.655172       31052.103448
     Arizona         39.613333      44166.533333       21786.333333
     Arkansas        41.140000      37503.720000       20591.666667
     California      39.281034      58091.241379       29025.793103
...                        ...               ...                ...
2019 Virginia        42.136090      60756.736842       31250.180451
     Washington      42.146154      59393.461538       30986.256410
     West Virginia   44.365455      44892.236364       24691.836364
     Wisconsin       43.656944      58305.861111       31034.361111
     Wyoming         40.443478      61828.652174       32161.782609

[208 rows x 3 columns]

In [53]:
# Rename columns to make them more understandable
State_Average_df = State_Average_df.rename(columns={"Median Age":"Average Median Age by County",
                                            "Household Income":"Average Household Income by County",
                                            "Per Capita Income":"Average Per Capita Income by County"})
State_Average_df

                    Average Median Age by County  \
Year State
2016 Alabama                           40.250746
     Alaska                            36.624138
     Arizona                           39.613333
     Arkansas                          41.140000
     California                        39.281034
...                                          ...
2019 Virginia                          42.136090
     Washington                        42.146154
     West Virginia                     44.365455
     Wisconsin                         43.656944
     Wyoming                           40.443478

                    Average Household Income by County  \
Year State
2016 Alabama                              38834.925373
     Alaska                               64801.655172
     Arizona                              44166.533333
     Arkansas                             37503.720000
     California                           58091.241379
...                                                ...
2019 Virginia                             60756.736842
     Washington                           59393.461538
     West Virginia                        44892.236364
     Wisconsin                            58305.861111
     Wyoming                              61828.652174

                    Average Per Capita Income by County
Year State
2016 Alabama                               21232.746269
     Alaska                                31052.103448
     Arizona                               21786.333333
     Arkansas                              20591.666667
     California                            29025.793103
...                                                 ...
2019 Virginia                              31250.180451
     Washington                            30986.256410
     West Virginia                         24691.836364
     Wisconsin                             31034.361111
     Wyoming                               32161.782609

[208 rows x 3 columns]

In [56]:
# Export the DataFrames to CSV
State_Average_df.to_csv("output/StateAveragecensus.csv", index=True)
State_census_df.to_csv("output/Statecensus.csv", index=True)